spring:
  application:
    name: mid

  datasource:
    url: jdbc:mysql://localhost:3306/shoppingCart?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=200,expireAfterWrite=300s

server:
  port: 8080

app:
  jwt:
    secret: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
    expiration: 86400000
  dummyjson:
    base-url: https://dummyjson.com
  cors:
    allowed-origins: http://localhost:3000

logging:
  level:
    com.abysalto: INFO